h1 {
  color: blue;
  margin-left: 16px;
  font-size: 20px;

}

h2 {
    color: deepskyblue;
    margin-left: 20px;
    border-block: solid;
    font-style: italic;
    font-size: 18px;
}

h3 {
    color: black;
    margin-left: 30px;
    font-style: oblique;
}

p {
    font-size: 16px;
    margin-left: 30px;
}

div#ex1 .test1 {font-style: italic;}

.ThreeColumnBody::after {
    content: "";
    clear: both;
    display: block;
}